body {
	background-color: white;
	font-family: 'Roboto', 'sans-serif';
	margin-top: 0px;
	margin-left: 0px;
}

.container {
	width: 365px;
	margin: 0px auto;
}

a {
	list-style-type: none;
	text-decoration: none;
	}
	
li {
	list-style-type: none;
}

h1 {
    font: caption;
    font-size: x-large;
    font-weight: bold;
    margin-top: 0px;
    padding-top: 1em;
}

h2 {
    margin-top: 0px;
    padding-top: 1em;
    font-weight: 300;
    font-size: 1.1em;
}

section {
    padding-top: 1.5em;
    padding-bottom: 3em;
    background-color: $background-banner-gris;
}