.loader {
    
    animation:spin 6s infinite linear;
    border:solid 2vmin transparent;
    border-radius:50%;
    border-right-color:$couleurPrimaireViolet;
    border-top-color:$couleurSecondaireRose;
    box-sizing:border-box;
    height:20vmin;
    left:calc(50% - 10vmin);
    position:fixed;
    top:calc(50% - 10vmin);
    width:20vmin;
    z-index:1;
    &_white {
        height: 2000px;
        width: 100%;
        background-color: white;
    }
    &:before {
      animation:spin 10s infinite linear;
      border:solid 2vmin transparent;
      border-radius:50%;
      border-right-color:$couleurPrimaireViolet;
      border-top-color:$couleurSecondaireRose;
      box-sizing:border-box;
      content:"";
      height:16vmin;
      left:0;
      position:absolute;
      top:0;
      width:16vmin;
    }
    &:after {
      animation:spin 15s infinite linear;
      border:solid 2vmin transparent;
      border-radius:50%;
      border-right-color:$couleurPrimaireViolet;
      border-top-color:$couleurSecondaireRose;
      box-sizing:border-box;
      content:"";
      height:12vmin;
      left:2vmin;
      position:absolute;
      top:2vmin;
      width:12vmin;
    }
    &_visibilite {
        height: 5000px;
        transition-delay: 5s;
        transition-property: display;
        display:none;}
  }
  
  @keyframes spin {
    100% {
      transform:rotate(360deg);
    
    }
}
    @keyframes vis {
        0% {
            height: 5000px;
        
        }
        100% {
            height: 0px;
        
        }
  }
