@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap');

/* Variables chartre graphique */ 

$couleurPrimaireViolet : #9356DC;
$couleurSecondaireRose : #FF79DA;
$couleurTertiaireBleu : #99E2D0;

$tablet : 768px;
$desktop : 1300px;
$only-tablet : "only screen and (min width: #{$tablet})";
$only-desktop : "only screen and (min width: #{$desktop})";

$base-font-size : 16px;

$background-banner-gris : rgba(192, 192, 192, 0.15);

$text-button-fonctionnement : black;
$radius-button-fonctionnement : 15px;