

.btn {
    background: transparent;
    padding: 0.9rem 1rem;
    margin: 1em 4em;
    border: none;
    border-radius: 2em;
    text-align: center;
    box-shadow: 3px 3px 6px rgb(128, 128, 128, .3);
    cursor: pointer;
    
    &-filled {
      @include background-gradient(bottom, $couleurPrimaireViolet, $couleurSecondaireRose);
    &:hover {
        filter: brightness(90%);
        color: white;
    }
}
}

/* remplissage du coeur */

.heart {
    i:nth-of-type(1) {
        position:relative;
        left: 24px;
        transition-duration: 0.5s;    
    }
    
    i:nth-of-type(2n) {
        color:white;
        transition-duration: 0.5s;
        
      }
    &:hover {
        i:nth-of-type(1) {
        display: none;    
            
          }
        i:nth-of-type(2n) {
        @include background-gradient(bottom, $couleurPrimaireViolet, $couleurSecondaireRose);
        background-clip:text;
        -webkit-background-clip: text;
        color: transparent;
        right: 24px;
        }

    }
    &_index {
        i:nth-of-type(1) {
        position:relative;
        left: 24px;
        transition-duration: 0.5s;    
    }
    
    i:nth-of-type(2n) {
        color:white;
        transition-duration: 0,5s;
        
      }
    &:hover {
        i:nth-of-type(1) {
            @include background-gradient(bottom, $couleurPrimaireViolet, $couleurSecondaireRose);
            background-clip:text;
            -webkit-background-clip: text;
            color: transparent;
             
        position: relative;   
        left:24px;
        z-index: 2;
          }
        i:nth-of-type(2n) {
        @include background-gradient(bottom, $couleurPrimaireViolet, $couleurSecondaireRose);
        background-clip:text;
        -webkit-background-clip: text;
        color: transparent;
        z-index: 1;
        }

    }}
}
.heart2 {

}
