.btn {
    background: transparent;
    padding: 0.9rem 1rem;
    margin: 1em 4em;
    border: none;
    border-radius: 2em;
    text-align: center;
    color: white;
    box-shadow: 3px 3px 6px rgb(128, 128, 128, .3);
    
    &-filled {
      @include background-gradient(bottom, $couleurPrimaireViolet, $couleurSecondaireRose);
    &:hover {
        filter: brightness(90%);
    }
    }
    &-fonctionnement {
        display: flex;
        color: black;
        margin: 1em 0em 0em 2.5em;
        padding: 1.5em 0em 1.5em 0em;
        background-color: $background-banner-gris;
        justify-content: center;
        align-items: center;
        width: 85%;
        border-radius: 1.5em;
        &:hover {
           background-color: lighten($couleurPrimaireViolet, $amount: 30%);
           opacity: 0.9;
        }
    }
    &_puce {
        position: relative;
        left:-4em;
        color: white;
        background-color: $couleurPrimaireViolet;
        padding: 0.3em 0.6em;
        border-radius: 1em;
        .btn:hover &{
            
            opacity: 1.5;
        }
    }
    &-iconSize {
        font-size: 1.3em;
        color: grey;
        .btn:hover &{
            color: $couleurPrimaireViolet;
            opacity: 1.5;
        }
    }
    &_icon {
        position: relative;
        left: -2.5em;
        font-weight: bold;
        
    }
    &_text {
        position: relative;
        left: -1em;
        font-weight: bold;

    }
}

.heart {
    i:nth-of-type(1) {
        position:relative;
        left: 24px;
            
    }
    
    i:nth-of-type(2n) {
        color:white;
        
      }
    &:hover {
        i:nth-of-type(1) {
        display: none;    
            
          }
        i:nth-of-type(2n) {
        @include background-gradient(bottom, $couleurPrimaireViolet, $couleurSecondaireRose);
        background-clip:text;
        -webkit-background-clip: text;
        color: transparent;
        }

    }

}
.heart2 {
    @include background-gradient(bottom, $couleurPrimaireViolet, $couleurSecondaireRose);
    background-clip:text;
    -webkit-background-clip: text;
    
}
