/* Error: expected ";".
 *   ,
 * 9 | $desktop : 1300px
 *   |          ^
 *   '
 *   saas/utils/_variables.scss 9:10  @import
 *   saas/main.scss 1:9               root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected ";".\a   \2577 \a 9 \2502  $desktop : 1300px\a   \2502           ^\a   \2575 \a   saas/utils/_variables.scss 9:10  @import\a   saas/main.scss 1:9               root stylesheet';
}
