
.banner {
    background-color: rgba(192, 192, 192, 0.15);
    margin-top: 0em;
    padding-bottom: 2.5em;
    text-align: center;
	&_title {
		padding-top: 1.5em;
	}
	&_h1 {
		margin-left: 1.5em;
		margin-right: 1.5em;
		margin-bottom: 0em;
	}
	&_h2 {
		margin-left: 1.5em;
		margin-right: 1.5em;
		margin-bottom: 1.5em;
	}
	&-menu{
		overflow: hidden;

	}
}

.menu {
	margin-top: 1em;
	margin-left: 1em;
	&-menu{
		font-weight: 300;
		margin-left: 1em;
		font-size: 1.3em;
		font-variant-caps: all-petite-caps;
		&-line{
			color: $couleurTertiaireBleu;
			margin-top: -0.5em;
			margin-bottom: 1em;
		}
	}
}

.fonctionnement {
	display: flex;
	flex-direction: column;
	padding-bottom: 3em;

}

.restaurantCard {
	display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 1em;
	box-shadow: 3px 3px 6px rgb(128, 128, 128, .3);
	border-radius: 15px;
	&:hover{
		border: 2px solid $couleurTertiaireBleu;
	}

	&_image{
		border-radius: 15px 15px 0px 0px;
		height:10.4em;
		width: 100%;
		object-fit: cover;
		margin-bottom: -1em;
	&-menu1 {
		width: 100%;
		object-fit: cover;
		margin-bottom: -3em;
		height: 15em;
    	object-position: 0% 100%;

	}
	&-menu2 {
		width: 100%;
		object-fit: cover;
		margin-bottom: -3em;
		height: 15em;
    	object-position: 0% 74%;

	}
	&-menu3 {
		width: 100%;
		object-fit: cover;
		margin-bottom: -3em;
		height: 15em;
    	object-position: 0% 100%;
	}
	&-menu4 {
		width: 100%;
		object-fit: cover;
		margin-bottom: -3em;
		height: 15em;
    	object-position: 0% 100%;
	}
	}
	&_image1{
		object-position: 0% 100%;
	}&_image2{
		object-position: 0% 61%;
	}&_image3{
		object-position: 0% 100%;
	}&_image4{
		object-position: 0% 100%;
	}

	&_label{
		position: relative;
		left: 8em;
		top: -9.5em;
		background-color: hsla(165,56%,74%,1);
		padding: 5px 11px;
		font-size: 0.9em;
		color: hsla(165,49%,39%,1);
	}
	&_name {
		margin-top: 1em;
		font-weight: bold;
    	font-size: 1.1em;
	}
	&-alignTextCard {
		align-self: flex-start;
		margin-left: 1em;
		color: black;
	}
	&_quartier {
		font-weight: lighter;
		margin-bottom: -1em;
	}
	&_like {
		position: relative;
    	left: 5em;
    	top: -1em;
    	font-size: 1.5em;
		&-menu{
			padding-top: 1em;
			color: black;
			font-size: 1.5em;
			margin-right: 1.5em;
		}
	}


}

.nameRestaurant {
	display: flex;
    align-content: center;
    justify-content: space-between;
    background-color: whitesmoke;
    /* margin-top: -1em; */
    overflow: overlay;
    border-radius: 50px 50px 0px 0px;
    /* width: 100%; */
	&_title {
		margin-left: 1em;
		padding-top: 1em;
		font-family: 'Shrikhand';
		font-size: 1.6em;
	}
	
}

.article {
	display: flex;
	position: relative;
	bottom: -1em;
    margin-bottom: 1em;
    width: 88%;
    margin-left: 1em;
    background-color: white;
    justify-content: space-between;
    border-radius: 1em;
	opacity: 0;
	overflow: hidden;
	animation: transition 1s ease-in-out 2s forwards;
	&_box{
		display: flex;
		flex-direction: column;
		width: 100%;
	}
	&_name{
		font-weight: 500;
		padding-top: 0.5em;
		padding-left: 0.5em;
    font-size: 1.2em;
	}
	&_description {
		display: flex;
		padding-bottom: 0.5em;
		padding-left : 0.5em;
		justify-content: space-between;
		align-items: center;
		&-text{
			font-size: 0.8em;
		}
	}
	&_selection {
		&::before {
			
		animation: transleft 1s linear forwards;
		}
		position: relative;
		display: flex;
		align-items: center;
    	justify-content: center;
		font-size: 1.3em;
		background-color: $couleurTertiaireBleu;
		padding: 0.5em;
		border-top-right-radius: 1em;
		border-bottom-right-radius: 1em;
		width: 0%;
		right: -3em;
		
		.article:hover & {
			animation: transleft 1s linear forwards;
			
		}

		&-check {
			color: white;
			.article:hover & {
				animation: spin 1s reverse;
			}
			
		}
	}

}

@media (min-width: 768px) {
	.fonctionnement {
		display: flex;
		flex-direction: row;
		padding-bottom: 3em;
		margin-right: 2em;
	}   
	.restaurant {
		display: flex;
		flex-flow: wrap;
		flex-direction: row;
	}
	.restaurantCard {
		width: 42%;
	}
	.article {
		width: 47%;
	}
	.listeArticle {
		display: flex;
		flex-flow: wrap;
		flex-direction: row;
	}
}

@media (min-width: 1024px) {
    .restaurantCard {
		width: 28%;
		&_label {
			left: 6em;
		}
		&_like {
			left:4em;
		}
	}
	.article {
		width: 30%;
	}
	.listeArticle {
		display: flex;
		flex-flow: wrap;
		flex-direction: row;
	}
}