
.banner {
    background-color: rgba(192, 192, 192, 0.15);
    margin-top: 0em;
    padding-bottom: 2.5em;
    text-align: center;
	&_title {
		padding-top: 1.5em;
	}
	&_h1 {
		margin-left: 1.5em;
		margin-right: 1.5em;
		margin-bottom: 0em;
	}
	&_h2 {
		margin-left: 1.5em;
		margin-right: 1.5em;
		margin-bottom: 1.5em;
	}
}