.localisation {
    display: flex;
    justify-content: center;
    padding: 1.25rem;
    position: relative;
    background-color: rgba(192, 192, 192, 0.30);
    display: flex;
    text-align: center;
    box-shadow: inset 0em 1em 5px -16px grey;
    padding : 1em;  
    &_paris {
        border:none;
        background-color: transparent;
        color: black;
        font-weight: bold;
        width: 60%;
        font-size: 1em;
    }    
    &_form {
        width: 65%;
    } 
}

@media (min-width: 768px) {
    .localisation{
        &_form {
            width: 30%;
        }
    }
}

@media (min-width: 1024px) {
    .localisation{
        &_form {
            width: 20%;
        }
    }
}