.headerMenu {
    display:flex;
    align-items: center;
    margin-left: 2em;
}

.logo {
    display: flex;
	justify-content: center;
    padding : 1em;
    &_width {
        width: 50%;
    &-menu{
        width: 50%;
        margin-left: -1em;
    }
    }
}


.flecheHeader {
    font-size: 1em;
}