
.logo {
    display: flex;
	justify-content: center;
    padding : 1em;
    &_width {
        width: 50%;
    }
}

.localisation {
    background-color: rgba(128, 128, 128, 0.15);
    display: flex;
    justify-content: center;
    box-shadow: inset 0em 1em 5px -10px #gray;
    border-top: 1px solid grey;
    padding : 1em;
        
}

.banner {
    background-color: rgba(192, 192, 192, 0.15);
    margin-top: 0em;
}