.headerMenu {
    display:flex;
    align-items: center;
    margin-left: 2em;
}

.logo {
    display: flex;
	justify-content: center;
    padding : 1em;
    &_width {
        width: 50%;
    &-menu{
        width: 50%;
        margin-left: -1em;
    }
    }
}

.localisation {
    background-color: $background-banner-gris;
    display: flex;
    justify-content: center;
    box-shadow: inset 0em 1em 5px -16px grey;
 /*   border-top: 1px solid grey; */
    padding : 1em;       
}

.flecheHeader {
    font-size: 1em;
}